@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

:root {
    --fontedestaque: 'Patua One', cursive;
    --fontetitulos: 'Roboto Slab', serif;
    --fontetextos: 'Oswald', sans-serif;

    --cor01: #447FE6;
    --cor02: #0757E0;
    --cor03: #344561;
    --cor04: #0543AD;
    --cor05: #032561;
}

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
}

body {
    background-color: rgba(135, 207, 248, 0.37);
}

header {
    background-image: linear-gradient(to top, var(--cor05) , var(--cor04));
    padding-bottom: 120px;
    padding-top: 120px;
    text-align: center;
    color: white;
}

header h1 {
    font-family: var(--fontedestaque);
    padding-bottom: 5px;
    font-variant: small-caps;
    text-shadow: 2px 2px 2px #110f2c50;

}

header p {
    font-family: var(--fontetitulos);
    font-weight: bold;
    text-shadow: 2px 2px 2px #110f2c50;
}

nav {
    background-color: var(--cor05);
}

nav a {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    font-size: 14px;
    color: var(--cor01);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

nav a:hover{
    background-color: var(--cor01);
    color: var(--cor05);
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.356);
}

.imagem {
    background-image: url(../imagens/pexels-garrett-morrow-682933.jpg);
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding-bottom: 50vh;
}

main {
    margin-bottom: 0px;
    padding: 20px;
    background-color: #90b6f79f;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}

main > section > p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main h1 {
    font-family: var(--fontetitulos);
    background-image: linear-gradient(to right, var(--cor01) , transparent 60%);
    padding: 5px;
    border-radius: 10px;
}

main aside {
    text-align: center;
}

a.externo::after  {
    content: '\00A0\1F517'
}

.externo {
    text-decoration: none;
    font-weight: bold;
    font-family: var(--fontetextos);
    font-weight: 500;
    color: var(--cor05);
    padding-left: 5px;
    padding-right: 5px;
}

section > p > a:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
}

section {
    padding-top: 10px;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 2vw;
}

aside > p {
    display: inline-block;
    font-family: var(--fontetitulos);
    font-weight: normal;
    background-color: #03256171;
    padding: 5px;
    margin: 15px 0px;
}

aside a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

aside a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.39);

}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: var(--fontetitulos);
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

footer a:hover{
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.295);
}